.App {

}
.FormDiv{
  margin-left: 30%;
  margin-right: 30%;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}
.CartButton{
  border-style: none;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  background-color: #00cef0;
  border-radius: 12px;
}
.UpdateButton{
  border-radius: none;
  border-style: none;
  padding: 7%;
  background-color: dodgerblue;
  color: white;
  font-size: 18px;
  margin-right: 5%;

}
td{
  gap: 20%;
  padding-right: 5%;
  padding-left: 5%;
}