
.FormDiv {
  margin-left: 30%;
  margin-right: 30%;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}
.CartButton {
  border-style: none;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  background-color: #00cef0;
  border-radius: 12px;
}
.UpdateButton {
  border-radius: none;
  border-style: none;
  padding: 7%;
  background-color: dodgerblue;
  color: white;
  font-size: 18px;
  margin-right: 5%;
}
td {
  border: solid gray 2px;
  padding-left: 4%;
  width: 10%;
}
tr {
  margin: 4%;
}
table {
  width: 110%;
}
.alert {
  margin-top: 3%;
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #04aa6d;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.QuantityDiv {
  width: 60%;
}
